body{
    font-family: 'Nunito', sans-serif;
}
.header{
    height: 80px;
}
.header,
.container-content2,
.accordion{
    padding-left: 20px !important; 
    padding-right: 20px !important; 
}
.side-nav {
    width: 80vw;
    background: #00CFFF;
    min-height: 100vh;
    box-shadow: 3px 2px 0px 20vw rgba(0, 0, 0, 0.5);
    z-index: 5;
    transform: translateX(-200%);
    transition: 1s;
}

/* LSC Agregaro 23/2/2021 */
.side-nav.opened{
    transform: translateX(0%);
}

.divider{
    height: 2px;
    width: 100%;
    background-color: white;
}
.close:hover {
    cursor: pointer;
}
.socialcircle{
    width: 40px;
    height: 40px;
}
/*! CONTENT 1 */
.container-content1{
    padding: 100px 0px 0px 20px;
    height: 600px;
    background: linear-gradient(225deg, #00CFFF 14.29%, #00FF91 85.71%);
}

.content1-menu{
    z-index: 1;
}
.content1-h1,
.content1-p{
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
.content1-h1{
    font-size: 40px;
}
.content1-p{
    font-size: 16px;
}

.content1-stores{
    width: 80%;
}
.stores-item{
    width: 47.5%;
}
.parking{
    right: 0;
    bottom: -80px;
}

/*! CONTENT 2 */
.content2-step-icon{
    border-radius: 50%;
    background: linear-gradient(225deg, #00CFFF 14.29%, #00FF91 85.71%);
}
.content2-step-icon{
    width: 40px;
    height: 40px;
}
.content2-step-h2{
    font-size: 30px;
}
.content2-step-p{
    font-size: 18px;
}
.content2-step-l{
    font-size: 18px;
    line-height: 17px;
}
.box{
    --d:2deg; /* distance between dashes */
    --n:100;   /* number of dashes */
    --b:1.5px;   /* control the thickness of border*/
    width: 250px;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    position:relative;
}
.box::after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:-1;
    border-radius:inherit;
    background:var(--c,linear-gradient(225.72deg, #00CFFF 10.56%, #00FF91 89.53%));
    -webkit-mask:
        radial-gradient(farthest-side,transparent calc(100% - var(--b)),#fff calc(100% - var(--b) + 1px)),
        repeating-conic-gradient(#000 0 calc(360deg/var(--n) - var(--d)),transparent 0 calc(360deg/var(--n)));
    -webkit-mask-composite: source-in;
            mask:
        radial-gradient(farthest-side,transparent calc(100% - var(--b)),#fff calc(100% - var(--b) + 1px)),
        repeating-conic-gradient(#000 0 calc(360deg/var(--n) - var(--d)),transparent 0 calc(360deg/var(--n)));
            mask-composite: intersect;

    animation: spin 25s linear infinite;

}
@keyframes spin { 
    100% { 
        transform: rotateZ(360deg); 
    }
}

.box:before {
    content:"";
    padding-top:100%;
}


#work .work.odd  .box{
    
}

#work .work.even  .box{
    
}

#work .work .box{
    position:absolute
}

.text-light-grey{
    color: #606577;
}

.text-dark-grey{
    color: #373F4A;
}


.content2-step-image{
    /* position: absolute; */
    height: 125%;
    z-index: 1;
}
.container-knowmore{
    padding: 100px 0px;
    margin: 40px 0px;
    border-radius: 5px;
    background-color: rgba(77, 77, 77, 0.5);
    overflow: hidden;
}

.knowmore-image{
    background-repeat: no-repeat;
    object-fit: cover;
    z-index: -2;
    width: 100%;
    height: 100%;
}
.btn-knowmore{
    padding: 10px 30px;
    margin-top: 20px;
}
.container-content3{
    padding: 100px 0px 100px 20px;
    height: auto;
    background: linear-gradient(225deg, #00CFFF 14.29%, #00FF91 85.71%);
}
.accordion-button{
    border: none;
    border-radius: 5px !important;
}
.accordion-collapse{
    border: none !important;
}
.accordion-body{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
button[aria-expanded="true"]{
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
button[aria-expanded="true"] p{
    font-weight: bold !important;
    color: #606577;
}
button[aria-expanded="true"] i{
    color: #00FF91;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("src/images/flip.svg");
}
.accordion-button:focus {

    z-index: 3;
    outline: 0;
    box-shadow: none;
}
.accordion-collapse {
    border: solid rgba(0,0,0,.125);
    border-width: 0px 1px 1px 1px;
}
.container-content4{
    padding: 100px 0px;
    height: auto;
}
.footer-subtitle{
    background: -webkit-linear-gradient(180deg, #00CFFF,#00FF91);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.news-input{
    height: 45px;
    width: 250px;
    padding-left: 10px;
}
.news-input:focus{
    outline: none;

}
.news-submit{
    background: linear-gradient(230deg, #00CFFF,#00FF91);
}
/* ! TERMS ! */
.container-content1-terms{
    height: 300px;
    background: linear-gradient(225deg, #00CFFF 14.29%, #00FF91 85.71%);
}
.stores-container{
    max-width: 500px;
}

.terms-title{
    font-size: 22px;
    color: #373F4A;
}
.terms-text{
    font-size: 18px;
    color: #606577;
}
.container-terms{
    padding: 100px 0px;
    margin: 40px 0px;
    border-radius: 5px;
    overflow: hidden;
}
.terms-image-color{
    background: linear-gradient(225deg, #00CFFF 14.29%, #00FF91 85.71%);
    opacity: 0.8;
    z-index: -1;
}
.text-terms{
    z-index: 99;
}

.text-shadow{
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
/* ? MEDIA Q */
#
/* X-Small devices (portrait phones, less than 576px) */
@media screen and (min-device-width: 575.98px) { 
    .header,
    .container-content2,
    .accordion,
    .container-footer{
        padding-left: 40px !important; 
        padding-right: 40px !important; 
    }
        /*! CONTENT 1 */
    .container-content1{
        padding: 100px 0px 0px 40px!important;
    }
    .content1-h1{
        font-size: 40px;
    }
    .content1-p{
        font-size: 24px;
    }
    .box{
        width: 350px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media screen and (min-device-width: 767.98px) { 
    .header{
        height: 100px;
    }
    .header,
    .container-content2,
    .accordion,
    .container-footer{
        padding-left: 40px !important; 
        padding-right: 40px !important; 
    }
        /*! CONTENT 1 */
    .container-content1{
        padding: 100px 0px 0px 40px!important;
    }
    .content1-h1{
        font-size: 52px;
    }
    .content1-p{
        font-size: 24px;
    }
    /*! CONTENT 2 */
    .content2-step-icon{
        margin-bottom: 20px;
        width: 50px;
        height: 50px;
    }
    .box{
        width: 400px;
    }

}

/* Medium devices (tablets, less than 992px) */
@media screen and (min-device-width: 991.98px) { 
    .header,
    .container-content2,
    .accordion,
    .container-footer{
        padding-left: 60px !important; 
        padding-right: 60px !important; 
    }
    .container-content1{
        padding: 100px 0px 0px 60px!important;
    }    
        /*! CONTENT 1 */
    .content1-h1{
        font-size: 52px;
    }
    .content1-p{
        font-size: 24px;
    }
        /*! CONTENT 2 */
    .content2-step-h2{
        font-size: 38px;
    }
    .content2-step-p{
        font-size: 20px;
        color: #606577;
    }
    .box{
        width: 450px;
    }

}

/* Large devices (desktops, less than 1200px) */
@media screen and (min-device-width: 1199.98px) { 
    .header,
    .container-content2,
    .accordion,
    .container-footer{
        padding-left: 120px !important; 
        padding-right: 120px !important; 
    }
        /*! CONTENT 1 */
    .container-content1{
        padding: 100px 0px 0px 120px!important;
    }
    .content1-h1{
        font-size: 52px;
    }
    .content1-p{
        font-size: 24px;
    }
        /*! CONTENT 2 */
    .content2-step-h2{
        font-size: 42px;
    }
    .content2-step-p{
        font-size: 18px;
        line-height:26px;
    }
    .box{
        width: 450px;
    }
}
/* X-Large devices (large desktops, less than 1400px) */
@media screen and (min-device-width: 1399.98px) { 

}

